.background {
    background-color: lightblue;
}

textarea {
    width: 35%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    resize: none;
}


/*MyPictures===========================*/

/*hover effects (being used)*/
.glyphicon {
    font-size: 40px;
    color: blue;
}
.gly-flip-horizontal {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
    -webkit-transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
}
.action-list {
    display: none;
    position: absolute;
    bottom: 10px;
    left: calc(50% - 120px);
}
.action-list a {
    margin: 10px;
}
.img-container {
    position: relative;
    width: fit-content;
    margin: auto;
}
.img-container:hover .action-list {
    display: block;
}
.img-container:hover > img {
    opacity: 0.5;
}

/*being used*/
.horizontal-scroll-wrapper {
    white-space: nowrap;
    max-width: 100%;
    /* height: 100%; */
    overflow: hidden;
    overflow-x: auto;
    padding: 1em;
    cursor: pointer;
    margin: 0 10px;
}

.thumbnail {
    max-width: 100px;
    min-width:100px;
    margin: 0 10px;
    display: inline;
}

/*Bootstrap*/
/*not used*/
.testimonial-group > .row {
    overflow-x: auto;
    white-space: nowrap;
}
.testimonial-group > .row > .col-xs-4 {
    display: inline-block;
    float: none;
}

/*FriendPictures*/
.left-div {
    float: left;
    width: 60%;
    /*height: 20px;*/
    margin-right: 8px;
    background-color: linen;
}
.right-div {
    margin-left: 108px;
    background-color: lime;
}






/*.actionButtons {*/
/*border: red;*/
/*background-color: red;*/
/*outline: red;*/
/*}*/

/*!*Was Trying to make Dropdowns Pretty. Sorry Kyle*!*/
/*!* -------------------- Page Styles (not required) *!*/
/*div { margin: 20px; }*/

/*!* -------------------- Select Box Styles: bavotasan.com Method (with special adaptations by ericrasch.com) *!*/
/*!* -------------------- Source: http://bavotasan.com/2011/style-select-box-using-only-css/ *!*/
/*.styled-select {*/
    /*background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;*/
    /*height: 29px;*/
    /*overflow: hidden;*/
    /*width: 240px;*/
/*}*/

/*.styled-select select {*/
    /*background: transparent;*/
    /*border: none;*/
    /*font-size: 14px;*/
    /*height: 29px;*/
    /*padding: 5px; !* If you add too much padding here, the options won't show in IE *!*/
    /*width: 268px;*/
/*}*/

/*.styled-select.slate {*/
    /*background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;*/
    /*height: 34px;*/
    /*width: 240px;*/
/*}*/

/*.styled-select.slate select {*/
    /*border: 1px solid #ccc;*/
    /*font-size: 16px;*/
    /*height: 34px;*/
    /*width: 268px;*/
/*}*/

/*!* -------------------- Rounded Corners *!*/
/*.rounded {*/
    /*-webkit-border-radius: 20px;*/
    /*-moz-border-radius: 20px;*/
    /*border-radius: 20px;*/
/*}*/

/*.semi-square {*/
    /*-webkit-border-radius: 5px;*/
    /*-moz-border-radius: 5px;*/
    /*border-radius: 5px;*/
/*}*/

/*!* -------------------- Colors: Background *!*/
/*.slate   { background-color: #ddd; }*/
/*.green   { background-color: #779126; }*/
/*.blue    { background-color: #3b8ec2; }*/
/*.yellow  { background-color: #eec111; }*/
/*.black   { background-color: #000; }*/

/*!* -------------------- Colors: Text *!*/
/*.slate select   { color: #000; }*/
/*.green select   { color: #fff; }*/
/*.blue select    { color: #fff; }*/
/*.yellow select  { color: #000; }*/
/*.black select   { color: #fff; }*/


/*!* -------------------- Select Box Styles: danielneumann.com Method *!*/
/*!* -------------------- Source: http://danielneumann.com/blog/how-to-style-dropdown-with-css-only/ *!*/
/*#mainselection select {*/
    /*border: 0;*/
    /*color: #EEE;*/
    /*background: transparent;*/
    /*font-size: 20px;*/
    /*font-weight: bold;*/
    /*padding: 2px 10px;*/
    /*width: 378px;*/
    /**width: 350px;*/
    /**background: #58B14C;*/
    /*-webkit-appearance: none;*/
/*}*/

/*#mainselection {*/
    /*overflow:hidden;*/
    /*width:350px;*/
    /*-moz-border-radius: 9px 9px 9px 9px;*/
    /*-webkit-border-radius: 9px 9px 9px 9px;*/
    /*border-radius: 9px 9px 9px 9px;*/
    /*box-shadow: 1px 1px 11px #330033;*/
    /*background: #58B14C url("http://i62.tinypic.com/15xvbd5.png") no-repeat scroll 319px center;*/
/*}*/


/*!* -------------------- Select Box Styles: stackoverflow.com Method *!*/
/*!* -------------------- Source: http://stackoverflow.com/a/5809186 *!*/
/*select#soflow, select#soflow-color {*/
    /*-webkit-appearance: button;*/
    /*-webkit-border-radius: 2px;*/
    /*-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);*/
    /*-webkit-padding-end: 20px;*/
    /*-webkit-padding-start: 2px;*/
    /*-webkit-user-select: none;*/
    /*background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);*/
    /*background-position: 97% center;*/
    /*background-repeat: no-repeat;*/
    /*border: 1px solid #AAA;*/
    /*color: #555;*/
    /*font-size: inherit;*/
    /*margin: 20px;*/
    /*overflow: hidden;*/
    /*padding: 5px 10px;*/
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
    /*width: 300px;*/
/*}*/

/*select#soflow-color {*/
    /*color: #fff;*/
    /*background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#779126, #779126 40%, #779126);*/
    /*background-color: #779126;*/
    /*-webkit-border-radius: 20px;*/
    /*-moz-border-radius: 20px;*/
    /*border-radius: 20px;*/
    /*padding-left: 15px;*/
/*}*/